extends ./layouts/index

block slider
    .slider
        h1 Río de Janeiro
        em aventura

block content
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies aliquet molestie. Nulla at erat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies aliquet molestie. Nulla at erat turpis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies aliquet molestie. Nulla at erat turpis.
                p Morbi molestie nisl nec urna dignissim, quis iaculis sapien consequat. lputate est, in fermentum ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies aliquet molestie. Nulla at erat turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies aliquet molestie. Nulla at erat turpis.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layouts/bloque_viajes        

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canadá
                        p.fecha 2023-07-19 - 2023-07-19
                        p.precio 2500€

    .container
        h2.mt-5.text-center Testimoniales
        include ./layouts/bloque_testimoniales
                 